<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JCAlertView-master.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>04349F8F1BE35C8E009E7D67</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04349FA81BE35C8E009E7D67</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04349FB31BE35C8E009E7D67</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
